{% extends "base.html" %}

{% block header %}
<p><a href=".."><-</a>&ensp; {{ page.slug }}</p>
<h1>
    Josh's Web Directory : Internet nodes to branch off of
</h1>
<h3>
    Friends and places I visit from time to time on the internet, that I hope you visit too.
</h3>
{% endblock header %}

{% block content %}
    {% set directory = load_data(path="content/dir/directory.yml")  %}
<span> Download as an OPML file to import into an RSS Reader <a href="josh-web-directory-list.opml"> Josh's Web Directory </a> </span>
<br/>
<br/>
<span> Last updated {{ directory.last_updated }} </span>
<br/>

{% for section in directory.sections %}
<div class="dir-section">
<h4>
    {{ section.name }}
</h4>

<ul>
  {% for site in section.sites %}
  <li>
    <a href="{{ site.url }}" title="{{ site.name }}">
      {{ site.name }}
    </a>
    {% if site.rss_feed %}
    <a href="{{ site.rss_feed }}"><span class="icon icon-rss"></span></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
</div>
<br/>

{% endblock content %}
