{% extends "base.html" %}

{% block content %}

<h2>Most Recent Blogs</h2>

{% set blog = get_section(path="blog/_index.md") %}
{% set pages = blog.pages %}
<ul class="article-list">
{% for page in pages %}
    {% if loop.index <= 5  %}
    <li class="article-list-item">
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">
            <h3>
                {{ page.title }}
                <span class="icon icon-arrow-right"></span>
            </h3>
        </a>
        <p>{{ page.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                {{ page.date | date(format="%B %-d, %Y") }}
            </span>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock content %}
