{% extends "base.html" %}

{% block header %}
<p><a href="{{ section.path }}.."><-</a>&ensp;{{ section.extra.slug }}</p>

<h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
{{ section.content | safe }}
    {% if section.title == "Journal" %}
        {% set pages = section.pages | reverse %}
    {% else %}
        {% set pages = section.pages %}
    {% endif %}
<ul class="article-list">
    {% for page in pages %}
    <li class="article-list-item">
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">
            <h3>
              {{ page.title }}
              <span class="icon icon-arrow-right"></span>
            </h3>
        </a>
        <p>{{ page.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                  {{ page.date | date(format="%B %-d, %Y") }}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
